* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.people-container {
  width: 120rem;
  margin: 0 auto;
}

.person-article {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 2fr 2fr;
}
