@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: 'Open Sans';
  color: #444;
}

.heading-primary {
  font-size: 2.4rem;
  margin-bottom: 2rem;
  color: #222;
  font-weight: 600;
}

.heading-secondary {
  font-size: 1.6rem;
  color: #222;
  font-weight: 600;
}

.heading-tertiary {
  font-weight: 400;
}

.app {
  width: 120rem;
  margin: 8rem auto 8rem auto;
  background-color: #fff;
  padding: 2rem;
  position: relative;
  border-radius: 0.9rem;
}

.app::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: #313131;
  z-index: 1;
  border-top-left-radius: 0.9rem;
  border-top-right-radius: 0.9rem;
}

.app-header {
  padding: 1rem 0 0.5rem 0;
  margin-bottom: 1.6rem;
}

.people-container > :nth-child(odd) {
  background-color: #f3f3f3;
}

.person-article,
.categories,
.edit-form {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 1fr 1.5fr 1fr 1fr;
  padding: 1rem 2rem;
  align-items: center;
  font-size: 1.4rem;
}

.edit-form input {
  width: 100%;
  border: none;
}

.person-article {
  border-top: 1px solid #dbdbdb;
}

.edit-delete-control,
.categories div {
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.edit-delete-control {
  gap: 2rem;
}

.btn {
  border: none;
  padding: 0.8rem 1.6rem;
  border-radius: 0.9rem;
  font-weight: 600;
  cursor: pointer;
  color: #fff;
  text-align: center;
  transition: all 0.3s;
}

.btn-edit {
  background-color: #55c57a;
}

.btn-edit:hover {
  background-color: #4db16e;
}

.btn-delete {
  background-color: #ff3333;
}

.btn-delete:hover {
  background-color: #e61717;
}

.btn-header,
.btn-form-edit {
  padding: 1.2rem 2.4rem;
  background-color: #457fca;
  font-size: 1.6rem;
}

.btn-header:hover {
  background-color: #3766a2;
}

/* main form */

.main-form {
  position: absolute;
  top: 30rem;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.9rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  padding: 4.8rem 6.4rem 6.4rem 6.4rem;
  background: #457fca;
  background: -webkit-linear-gradient(to right, #5691c8, #457fca);
  background: linear-gradient(to right, #5691c8, #457fca);
  z-index: 999;
}

.main-form label {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  margin-bottom: 1.2rem;
  color: #fff;
  font-weight: 600;
  color: #0e1928;
}

.main-form input,
.edit-form input,
.btn-form {
  width: 100%;
  padding: 1.2rem;
  font-size: 1.6rem;
  font-family: inherit;
  border: none;
  background-color: #fff8e6;
  border-radius: 0.9rem;
  box-shadow: 0 1px 2px rgba(10, 105, 220, 0.1);
  transition: all 0.3s;
  color: #444;
}

.edit-form input {
  padding: 0.6rem;
  width: 90%;
}

.main-form input:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem rgba(236, 242, 250, 0.5);
}

.main-form::placeholder {
  font-size: 1.6rem;
}

.btn-form {
  align-self: end;
  background-color: #0e1928;
  color: #fff;
}

.btn-form:hover {
  background-color: #fff;
  color: #444;
}

.overlay {
  position: fixed;
  cursor: pointer;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 998;
}

.hidden {
  visibility: hidden;
}
